<div class="App-header full-height-header">
    <div class="mid-box-background">
        <div class="title-wrapper">

            <h1 id="single-title" class="animated bounceInDown">
                Hey
            </h1>
            <h1 id="single-title" class="animated bounceInDown">
                Welcome to my server, doesn't really do much directly.
            </h1>
            <div class="header-button-wrap">
                <a href="https://nicholasgriffin.dev" class="ui button white basic inverted">
                    Check out my homepage instead?
                </a>
            </div>
        </div>
    </div>
</div>